/* Import Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
html,
body,
.root {
  height: 100%;
  font-family: "Poppins", sans-serif;
  --body: #0a192f;
  --gray: #8892b0;
  --span: #64ffda;
  --dark-blue: #233554;
}
body {
  line-height: 1.5;
}
body,
.app {
  background: var(--body);
}
h1,
h2 {
  font-size: 1rem;
}
.list-books-title {
  padding: 10px 0;
  background: var(--dark-blue);
  text-align: center;
}
.list-books-title h1 {
  font-weight: 400;
  margin: 0;
  color: white;
}
.title {
  font-size: 1.5em;
  font-weight: 600;
  color: var(--span);
}
.list-books-content {
  padding: 0 0 80px;
  flex: 1;
}
.bookshelf {
  padding: 0 10px 20px;
}
@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 40px;
  }
  h1,
  h2 {
    font-size: 1.5em;
  }
}
.bookshelf-title {
  border-bottom: 1px solid var(--dark-blue);
  color: var(--span);
}
.bookshelf-books {
  text-align: center;
}
.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}
.open-search a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--dark-blue);
  background-image: url("./icons/add.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-size: 0;
}
.search-books-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 0 6px rgba(0, 0, 0, 0.23);
}
.search-books-input-wrapper {
  flex: 1;
}
.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
  background: var(--dark-blue);
}
.search-books-bar input::placeholder {
  color: var(--gray);
}
input {
  color: var(--span);
}
.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: var(--dark-blue);
  background-image: url("./icons/arrow-back.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}
.search-books-results {
  padding: 80px 10px 20px;
}
.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.books-grid li {
  padding: 10px 15px;
  text-align: left;
}
.book {
  width: 140px;
}
.book-title,
.book-authors {
  font-size: 0.8em;
}
.book-title {
  margin-top: 10px;
  color: var(--span);
}
.book-authors {
  color: var(--gray);
}
select option {
  background: var(--dark-blue);
  color: var(--span);
}
.moveTo {
  color: var(--gray);
}
.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}
.book-shelf-changer {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--dark-blue);
  background-image: url("./icons/arrow-drop-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.book-shelf-changer:hover {
  background: var(--gray);
  background-image: url("./icons/arrow-drop-down.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.book-cover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: #eee;
}
.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}
a {
  cursor: pointer;
  transition: all 0.3s ease;
}
a:hover {
  transform: scale(1.1);
}
.empty{
  color: var(--span);
}